<section class="resume-page">
  <div class="resume-hero">
    <div class="resume-identity">
      <h1><%= page.title || config.author || config.title %></h1>
      <% if (page.location && page.location.length) { %>
        <p class="resume-identity-meta">
          <span><%= page.location.join(' ') %></span>
        </p>
      <% } %>
      <% if (page.description) { %>
        <div class="resume-summary-row">
          <p class="resume-summary"><%= page.description %></p>
          <% if (page.photo) { %>
            <div class="resume-photo-wrap resume-photo-wrap-mobile">
              <img class="resume-photo" src="<%- url_for(page.photo) %>" alt="<%= (page.title || config.author || 'photo') + ' photo' %>">
            </div>
          <% } %>
        </div>
      <% } %>
      <% if (page.highlights && page.highlights.length) { %>
        <ul class="resume-highlights">
          <% page.highlights.forEach(function(item) { %>
            <li><%= item %></li>
          <% }) %>
        </ul>
      <% } %>
    </div>
    <div class="resume-meta">
      <% if (page.photo) { %>
        <div class="resume-photo-wrap resume-photo-wrap-desktop">
          <img class="resume-photo" src="<%- url_for(page.photo) %>" alt="<%= (page.title || config.author || 'photo') + ' photo' %>">
        </div>
      <% } %>
      <% if (page.contacts && page.contacts.length) { %>
        <div class="resume-meta-links">
          <% page.contacts.forEach(function(item) { %>
            <% var iconValue = item.icon || '' %>
            <% var isIconUrl = /^https?:\/\//.test(iconValue) || iconValue.indexOf('/') === 0 %>
            <% var iconClass = iconValue.indexOf('fa-') !== -1
              ? iconValue
              : (/^(github|linkedin|youtube|bilibili|x-twitter|twitter|facebook|instagram|gitlab|discord|telegram|mastodon)$/.test(iconValue)
                ? 'fa-brands fa-' + iconValue
                : 'fa-solid fa-' + iconValue) %>
            <a class="resume-site-link" href="<%= item.url.indexOf('/') === 0 ? url_for(item.url) : item.url %>"<% if (item.url.indexOf('mailto:') !== 0 && item.url.indexOf('/') !== 0) { %> target="_blank" rel="noopener"<% } %> aria-label="<%= item.label %>">
              <% if (isIconUrl) { %>
                <img src="<%= iconValue.indexOf('/') === 0 ? url_for(iconValue) : iconValue %>" alt="<%= item.label %>">
              <% } else { %>
                <i class="<%= iconClass %>" aria-hidden="true"></i>
              <% } %>
            </a>
          <% }) %>
        </div>
      <% } %>
      <% if (page.email) { %>
        <p class="resume-meta-text">
          <span>Email:</span>
          <a href="mailto:<%= page.email %>"><%= page.email %></a>
        </p>
      <% } %>
    </div>
  </div>

  <article class="post resume-content">
    <div class="content" itemprop="articleBody">
      <%- page.content %>
    </div>
  </article>
</section>
